networks:
  shared:
    name: synqtab-network
    driver: bridge

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    ports:
      - ${POSTGRES_MAPPED_PORT}:5432
    env_file:
      - .env
    volumes:
      - ./postgres/data/:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer:5.4.1-standalone
    container_name: adminer
    restart: always
    depends_on:
      - postgres
    ports:
      - ${ADMINER_MAPPED_PORT}:8080

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - ${MINIO_API_MAPPED_PORT}:9000
      - ${MINIO_UI_MAPPED_PORT}:9001
    env_file:
      - .env
    volumes:
      - ./minio/data:/data
