networks:
  shared:
    driver: bridge

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    ports:
      - $POSTGRES_MAPPED_PORT:5432  # Map container port to host port
    env_file:
      - .env
    volumes:
      - ./database/postgres_data/:/var/lib/postgresql/data  # Persist data to a named volume
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql  # Mount the init script from the host machine inside the container
    networks:
      - shared

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    networks:
      - shared