services:
  superset:
    image: apache/superset:latest
    container_name: synqtab-visualization
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "synqtab_secret_key"
      ADMIN_USERNAME: "dq_user"
      ADMIN_PASSWORD: "dq_pass"
      ADMIN_FIRSTNAME: "SynQTab"
      ADMIN_LASTNAME: "Visualization"
      ADMIN_EMAIL: "visualization@synqtab.com"
    volumes:
      - superset_home:/app/superset_home
      - ./init-superset.sh:/init-visualization.sh
    networks:
      - synqtab_shared

volumes:
  superset_home:

networks:
  synqtab_shared:
    external: true